{% extends "basefront.html.twig" %}
{% block title %}Playlists{% endblock %}
{% block body %}
<table aria-label="Table des playlists" class="table table-striped">
  <thead>
    <tr>
      <th class="text-left align-top" scope="col">
        playlist<br>
        <a
          href="{{ path('playlists.sort', {champ:'name', ordre:'ASC'}) }}"
          class="btn btn-info btn-sm active" role="button"
          aria-pressed="true">&lt;</a>
        <a
          href="{{ path('playlists.sort', {champ:'name', ordre:'DESC'}) }}"
          class="btn btn-info btn-sm active" role="button"
          aria-pressed="true">&gt;</a>
        <form class="form-inline mt-1" method="POST"
          action="{{ path('playlists.findallcontain', {champ:'name'}) }}">
          <div class="form-group mr-1 mb-2">
            <input type="text" class="sm" name="recherche"
              value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
            <input type="hidden" name="_token"
              value="{{ csrf_token('filtre_name') }}">
            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
          </div>
        </form>
      </th>
      <th class="text-left align-top" scope="col">
        catégories
        <form class="form-inline mt-1" method="POST"
          action="{{ path('playlists.findallcontain', {champ:'id', table:'categories'}) }}">
          <select class="form-select form-select-sm" name="recherche"
            id="recherche" onchange="this.form.submit();">
            <option value=""></option>
            {% for categorie in categories %}
            <option {% if valeur|default and valeur==categorie.id %}
              selected {% endif %} value="{{ categorie.id }}">{{ categorie.name }}
            </option>
            {% endfor %}
          </select>
        </form>
      </th>
      <th class="text-center align-top" scope="col">
        vidéos<br>
        <a
          href="{{ path('playlists.sort', {champ:'formationsCount', ordre:'ASC'}) }}"
          class="btn btn-info btn-sm active" role="button"
          aria-pressed="true">&lt;</a>
        <a
          href="{{ path('playlists.sort', {champ:'formationsCount', ordre:'DESC'}) }}"
          class="btn btn-info btn-sm active" role="button"
          aria-pressed="true">&gt;</a>
      </th>
      <th class="text-center align-top" scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <!-- boucle sur les playlists -->
    {% if playlists|length > 0 %}
    {% for p in playlists %}
    <tr class="align-middle">
      <td>
        <h5 class="text-info">
          {{ p.name }}
        </h5>
      </td>
      <td class="text-left">
        {% set categories = p.categoriesplaylist %}
        {% if categories|length > 0  %}
        {% for c in 0..categories|length-1 %}
        &nbsp;
        {{ categories[c] }}
        {% endfor %}
        {% endif %}
      </td>
      <td class="text-center">
        {{ p.formations | length }}
        vidéos
      </td>
      <td class="text-center">
        <a href="{{ path('playlists.showone', {id:p.id}) }}"
          class="btn btn-secondary">Voir détail</a>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
