{% extends "admin/adminbase.html.twig" %}

{% block head %}
{{ encore_entry_link_tags('admin_formation') }}
{{ encore_entry_script_tags('admin_formation') }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Formations</li>
<li class="breadcrumb-item active">
  {% if formation is defined %}
  {{ formation.title }}
  {% else %}
  Nouvelle formation
  {% endif %}
</li>
{% endblock %}

{% block body %}
<div class="card p-3 m-3 shadow-lg">
  {% for f in app.session.flashbag.get('success') %}
  <div class="alert alert-success">
    {{ f }}
  </div>
  {% endfor %}

  {{ form(form) }}

  {% if formation is defined%}
  <div class="mb-3">
    <button data-formation-id="{{ formation.id }}" data-formation-name="{{ formation.title }}"
      class="btn btn-danger delete-formation">Supprimer</button>
  </div>
  {% endif %}
</div>

{% if formation is defined %}
{% include 'admin/components/_delete_modal.html.twig' %}
{% endif %}
{% endblock %}
